<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
    <div id="placesSearch-panel">
      <input style="width: 300px !important" id="search-box" title="Search for an Address" [(ngModel)]="address" type="text" placeholder="Search . . ." (keypress)="keypressEvent($event)">
      <button title="Search Address" value="Search" (click)="codeAddress()" class="button-blue">
      <i class="material-icons dp48">search</i>
      </button>
    </div>
    <div id="map"></div>
    <div id="newMarker-panel">
      <label class="switch">
      <input type="checkbox" [(ngModel)]="this.isCreatingPin">
      <div class="slider round"></div>
      </label><i class="material-icons" style="color: #00b2ee; font-size: 32px;">add_location</i>
    </div>
    <div id="userLocation-panel">
      <label class="switch">
      <input type="checkbox" [(ngModel)]="this.isTrackingUserLocation" (ngModelChange)="userLocationCheckboxChange()">
      <div class="slider round"></div>
      </label><i class="material-icons" style="color: #00b2ee; font-size: 32px;">my_location</i>
    </div>
  </body>
</html>