<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
    <div id="placesSearch-panel">
      <input id="address" [(ngModel)]="address" type="text" placeholder="Search . . .">
      <input type="submit" value="Search" (click)="codeAddress()" class="button-blue">
    </div>
    <div id="map"></div>
    <div id="newMarker-panel">
      <label class="switch">
      <input type="checkbox" [(ngModel)]="this.isCreatingPin" (ngModelChange)="onSliderChange()">
      <div class="slider round"></div>
      </label>Create New Pin
    </div>
  </body>
</html>