<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
    <div id="placesSearch-panel">
      <input id="address" title="GeocodeSearchTextBox" [(ngModel)]="address" type="text" placeholder="Search . . .">
      <button title="MarkerName" value="Search" (click)="codeAddress()" class="button-blue"><i class="material-icons md-48">search</i></button>
    </div>
    <div id="map"></div>
    <div id="newMarker-panel">
      <label class="switch">
      <input type="checkbox" [(ngModel)]="this.isCreatingPin" (ngModelChange)="onSliderChange()">
      <div class="slider round"></div>
      </label><i class="material-icons">location_on</i>
    </div>
  </body>
</html>