.button-blue
{
    color: #ffffff;
    font: normal 14px "Roboto";
    text-transform: uppercase;
    background-color: #00b2ee;
    border-radius: 5px;
    height: 40px;
    padding: 0px 20px;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: background-color 0.25s;
    cursor: pointer;
}
.button-blue:hover
{
    background-color: #0e96c4;
    transition: background-color 0.25s;
}